.big-gallery-block {
  padding: 64px 64px;
}
.gallery-count-info {
  margin: 7px 0px -14px;
}
.gallery-thumbs {
  border-top: 1px solid #e5e5e5;
  border-color: var(--stroke_black);
  padding: 54px;
}
.gallery-thumbs__item {
  margin: 2px 2px;
  cursor: pointer;
}
.gallery-big .owl-carousel .item img {
  max-height: 650px;
  width: auto;
}
.gallery-thumbs__picture {
  width: 100% !important;
}
.current .gallery-thumbs__item {
  box-shadow: 0px 0px 0px 2px #d9d9d9;
  box-shadow: 0px 0px 0px 2px var(--theme-base-color);
  cursor: default;
}
.bottom-links-block {
  margin: 4.667rem 0px 4.667rem;
  line-height: 1rem;
}
.owl-dots {
  display: none;
}
.big-gallery-block .owl-carousel.short-nav:hover .owl-nav {
  left: 10px;
  right: 10px;
}
@media (max-width: 767px) {
  .big-gallery-block {
    padding: 20px;
  }
  .owl-dots {
    display: block;
  }
}