* + .personal__block--favorite-products {
  margin: 33px 0 0 0;
}
.topic__heading {
  display: flex;
  align-items: center;
  gap: 0 10px;
  justify-content: space-between;
}
.js_clear_favorits {
  cursor: pointer;
}
@media (min-width: 400px) {
  .js_clear_favorits {
    margin-left: auto;
  }
}
